@font-face {
    font-family: Roboto;
    src: url(../../assets/Roboto-Regular.ttf);
}

.start-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: fit-content;
    height: 38px;
    border-radius: 15px;
    border: 2px solid #c56b6b;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    align-self: center;
    cursor: pointer;
    font-family: Roboto;
    padding: 0 15px;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
